:root {
    --main-body: #59ff0038;
    --main-body-shadow: #2B4D17;
    --vibrant: #4FC70A;
    --accent-light: #774196;
    --accent-dark: #33084D;



    --brown: #B1A206;
    --dark-blue: #558A95;
    --light-blue: #7395AE;
    --light-gray: #9da7a3;
    --dark-gray: #5d5c61;
    
}

body {
    background-color: var(--main-body);
    margin: 0;
}

/* HEADER */

header {
    height: auto;
    border: 5px solid black;
    padding: 10px;
}

.flex {
    display: flex;
    display: -webkit-flex;
}

.column {
    padding: 5px;
    margin: auto;
}

.column.middle {
    flex: 3;
}
.column.side {
    flex: 1;
    width: 5vw;
    height: 5vw;
    /* background-color: var(--main-body-shadow); */

}

.centered > * {
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.small-img {
    /* display: block; */
    max-width: 50px;
    max-height: 50px;
    width: auto;
    height: auto;
}

#title {
    font-size: 5vw;
    font-weight: 700;
    margin: auto;
    text-align: center;
    color: var(--main-body-shadow);
}

#logo {
    /* display: block; */
    height: 5vw;
    width: 5vw;
    margin-top: auto;
    margin-bottom: auto;
}

#user-profile-container {
    height: 80%;
    width: auto;

    padding: 10px;
    margin: auto;
    margin-right: 1%;
    
    background-color: var(--dark-blue);
    
    border-radius: 10px;
}

.profile {
    width: 40%;
}

.profile.profile-left {
    float: left;
}

.profile.profile.profile-right {
    float: right;
}

.profile-picture {
    height: 100%;
    width: auto;
}


/* MAIN CONTENT */

#main-content-container {
    /* background-color: var(--light-gray); */
    height: 90vh;
    padding: 10vw;
}


/* FOOTER */

footer {
    background-color: var(--main-body-shadow);
    height: 10vh;
}


