.App {
  text-align: center;
  background-color: #59ff0038;;
}

button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 46px;
  
}

#userHeader {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-column-gap: 5%;
  
}

#transaction-table {
  display: inline-block; 
  overflow: auto;
  height: 30vw;
  padding: 2.5vw;
  margin: auto;
  margin-top:  20px; 
  border: 2px solid black;
}

th div { margin-top: -20px; position: absolute; }
#transaction-form {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.datepicker-wrapper {
  /* !important overrides default datepicker style */
  width:fit-content !important;
}

.charts {
  display: flex;
  flex-direction: row; 
  justify-content: space-evenly; 
}

.chart-container {
  padding: 5%;
  height: 20vw;
}
.chart-body {
  background-color: #59ff0038;
}

.chart {
  margin: auto;
  background-color: #2B4D17;
  width: 30%;
}
#transaction-line-chart {
  height: 100%;
}

#transaction-pie-chart {
  height: 30%;
}
